<!-- footer.html -->
<footer class="footer-comp">
  <div class="footer-content">
    <img src="img/logo2.svg" alt="Logo de Núria Vaquero" />

    <ul class="footer-icons">
      <li>
        <a href="tel:+34618517258"><img src="img/icon_call.svg" alt="Call icon" /></a>
      </li>
      <li>
        <a href="mailto:nvaquerot@gmail.com"><img src="img/icon_email.svg" alt="Email icon" /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/nuriavdraws" target="_blank" rel="noopener">
          <img src="img/icon_instagram.svg" alt="Instagram icon" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/n%C3%BAria-vaquero-tell" target="_blank" rel="noopener">
          <img src="img/icon_linkedin.svg" alt="LinkedIn icon" />
        </a>
      </li>
    </ul>
  </div>

  <p class="footer-copy">© 2024 Núria Vaquero. All rights reserved. | Designed and developed by me.</p>
  
</footer>
